body {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.headline {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: black;
    z-index: 1;
}
.header {
    width: 100%;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
}
span {
    font-size: 6rem;
}
h1 {
    font-size: 3rem;
    font-weight: 300;
    color: yellow;
    margin-top: 2rem;
}
p {
    font-size: 1.1rem;
    color: white;
}




/* styles for content */
.content {
    width: 85%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 40vh;
}
.img {
    height: 200px;
}
img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 0.5rem;
    transition: transform 0.5s ease-in-out;
}
img:hover {
    transform: scale(1.1);
    /* transform: rotate(360deg); */
}