body {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.headline {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: black;
    z-index: 1;
    border-bottom: 2px solid yellow;
}
.header {
    width: 100%;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
}
span {
    font-size: 6rem;
}
h1 {
    font-size: 3rem;
    font-weight: 300;
    color: yellow;
    margin-top: 0;
}
p {
    font-size: 1.1rem;
    color: white;
}




/* styles for content */
.content {
    width: 85%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 40vh;
}
.img {
    height: 200px;
}
.img img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 0.5rem;
    transition: transform 0.7s ease-in-out;
}
.img:hover {
    transform: scale(1.1);
    /* transform: rotate(360deg); */
}



/* responsiveness stylesheet */
@media (min-width: 576px) and (max-width: 1000px) {
    .content {
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .img {
        height: 150px;
    }
}

@media (max-width: 575.98px) {
    span {
        font-size: 4rem;
    }
    h1 {
        font-weight: 300;
    }
    p {
        font-size: 1rem;
    }
    .content {
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .img {
        height: 150px;
    }
}   



/* styles for light-box */
#light-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
}
#light-box-features-div {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 5%;
    right: 4%;
    gap: 1.5%;
    margin-right: 2%;
    /* background-color: white; */
}
@media (max-width: 575.98px) {
    #light-box-features-div {
        right: 0;
    }
}

.feature {
    background-color: rgb(232, 201, 201);
    padding: 0.25rem;
    border-radius: 0.5rem;
}
.feature:hover {
    background-color: yellow;
}


#light-box-img-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

